/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* background: linear-gradient(97.01deg, #53B9D9 -6.41%, rgba(20, 77, 101, 0) 110.43%); */

/* root variables */
:root {
  /* Homepage */
  --color-background: #000;
  --color-primary: #306ef7;
  --color-secondary-light: #707070;
  --color-secondary-dark: #0e5d80;
  --color-text-steps: #3d82f2;
  --color-text-main: #326cf9;
  --color-text-green: #0fc65c;
  --color-text: #919191;
  --color-text-body: #ffffff;
  /* Pricing */
  --color-plan-bg: #131313;
  --color-plan-bg-stroke: #707070;
  --color-plan-button-stroke: #4681e7;
  --color-plan-highlight: #3c82f4;
  --color-plan-highlight-button: #ffff;
  --color-plan-text: #b4b1b1;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  font-size: 1.6rem;
  line-height: 1.7;
}

/* R 400,semi 600,B 700,Ex 800 */

h1,
h2,
h3,
h4 {
  color: var(--color-text-body);
  font-size: 700;
}

h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Button */
.btn {
  outline: 0;
  border: 0;
  padding: 1.3rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--color-text-body);
  color: var(--color-primary);
}

.btn--secondary {
  background-color: transparent;
  border: 1.5px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

.btn--plan-primary {
  background-color: transparent;
  border: 3px solid var(--color-plan-button-stroke);
  color: var(--color-text-body);
}

.btn--plan-highlight {
  background-color: #ffff;
  color: var(--color-plan-highlight);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

/* icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f6f6f6; */
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 2px 5px 10px -4px rgb(132, 132, 132, 0.6);
}

/* hero section */
.hero {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

.hero .text {
  margin-bottom: 2rem;
}

.hero .hero__text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 2.5rem 0 0 0;
}

.hero .hero__text--gradient {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  animation: flow 4s ease-in-out infinite;
  background: linear-gradient(-50deg, #904e95, #b05fb6, #e73c7e, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hero__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero__middle h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: justify;
  text-align-last: center;
}

.hero__cta {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__cta a {
  text-decoration: none;
  color: var(--color-text-body);
}

.hero__cta .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.hero__cta .btn--secondary {
  padding: 1.1rem 3.5rem;
  border: 1.5px solid var(--color-secondary-light);
  font-size: 1.4rem;
}

.hero__cta .btn--secondary:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-text-body);
}

/* check button */
.select-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-control .c1 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(15, 198, 92, 0.24);
}

.select-control .c2 {
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(15, 198, 92, 1);
}

.select-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.select-text span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0.5rem 0 1rem;
  color: var(--color-text-body);
}

.select-text p {
  color: var(--color-text);
}

@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .hero .text {
    margin-bottom: 3rem;
  }
  .hero .hero__text {
    font-size: 7rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 7rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.8rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .text {
    margin-bottom: 2rem;
  }
  .hero .hero__text {
    font-size: 6rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 6rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.8rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 450px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .text {
    margin-bottom: 1rem;
  }
  .hero .hero__text {
    font-size: 4rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.2rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

/* feature */
.feature {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.feature h1 {
  font-size: 2rem;
  margin: 3rem 0 2.5rem 0;
  animation: focus-in 2s ease-out 0s 1 normal none;
}

@keyframes focus-in {
  0% {
    letter-spacing: 0.01em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.feature--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.feature--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.feature__text {
  display: flex;
  align-items: center;
}

.feature__text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .feature {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 6rem;
  }
  .feature h1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
  }
  .feature--item {
    margin-bottom: 0;
  }
  .feature--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 2rem;
  }
  .feature__text p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .feature {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }
  .feature h1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
  }
  .feature--item {
    margin-bottom: 0;
  }
  .feature--item p {
    word-wrap: break-word;
    width: 180px;
  }
  .feature--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
  .feature h1 {
    font-size: 2.5rem;
    margin: 3rem 0 1.5rem 0;
  }
  .feature--item {
    margin-bottom: 2rem;
  }
  .feature--items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
}

/* steps */
.steps {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.step h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  animation: focus-in-contract 3.5s ease-out 0s 1 normal none;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 0.01em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.step p {
  width: 250px;
  text-align: justify;
  text-align-last: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.step .btn--secondary {
  padding: 1.1rem 2.5rem;
  font-size: 1.2rem;
}

.step .btn--secondary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-text-body);
}

@media screen and (min-width: 1024px) {
  .steps {
    text-align: center;
    padding: 0 2rem;
  }
  .step h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .step h1 {
    font-stretch: expanded;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .step p {
    width: 650px;
    text-align: justify;
    text-align-last: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .step .btn--secondary {
    padding: 1.1rem 3.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .step p {
    width: 600px;
    text-align: justify;
    text-align-last: center;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .step p {
    width: 450px;
    text-align: justify;
    text-align-last: center;
    font-size: 1.5rem;
  }
  step h1 {
    letter-spacing: 0.5rem;
  }
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.content--wraper {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content__image {
  margin-bottom: 2rem;
}

.content__image img {
  width: 200px;
  height: 200px;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
  -moz-box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
  box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content__detail h2 {
  font-size: 1.3rem;
}

.content__detail span {
  color: var(--color-primary);
}

.content__detail--order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  color: var(--color-text);
  margin: 1rem 0 1rem 0;
}

.content__detail--order p {
  font-size: 0.8rem;
}

.content__detail--order span {
  color: #000;
}

.content__detail--order .c1 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(45, 45, 45, 1);
}

.content__detail--order .c2::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  content: "1";
  color: white;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.content__detail--order .c3::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  content: "2";
  color: white;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.content__cta {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.content__cta a {
  text-decoration: none;
  color: var(--color-text-body);
}

.content__cta .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.content__cta .btn--secondary {
  padding: 1.1rem 3.5rem;
  border: 1.5px solid var(--color-secondary-light);
  font-size: 1.4rem;
}

.content__cta .btn--secondary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-text-body);
}

@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 8rem 0 8rem 0;
    align-items: flex-start;
    text-align: left;
  }
  .content__image img {
    width: 520px;
    height: 491px;
  }
  .content__detail {
    margin-bottom: 2rem;
  }
  .content__detail h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .content__detail h1 {
    font-size: 6rem;
  }
  .content__detail--order {
    margin-left: 0.1rem;
  }
  .content__detail--order p {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .content__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .content__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .content__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .content__detail--order .c1 {
    width: 30px;
    height: 30px;
  }
  .content__detail--order .c2::after {
    font-size: 1.5rem;
    top: 15%;
  }
  .content__detail--order .c3::after {
    font-size: 1.5rem;
    top: 15%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .content {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 6rem 0 6rem 0;
    align-items: flex-start;
    text-align: left;
  }
  .content__image img {
    width: 320px;
    height: 291px;
  }
  .content__detail {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .content__detail h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .content__detail h1 {
    font-size: 3.5rem;
  }
  .content__detail--order {
    padding: 0 0.5rem;
    margin-left: 0.1rem;
  }
  .content__detail--order p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .content__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .content__cta .btn--primary {
    font-size: 1.3rem;
    padding: 1rem 4rem;
  }
  .content__cta .btn--secondary {
    padding: 1.4rem 6rem;
    margin-left: 1rem;
    font-size: 1rem;
  }
  .content__detail--order .c1 {
    width: 25px;
    height: 25px;
  }
  .content__detail--order .c2::after {
    font-size: 1.5rem;
    top: 5%;
  }
  .content__detail--order .c3::after {
    font-size: 1.5rem;
    top: 5%;
  }
}

/* middle content */
.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.content--left {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
}

.content--left__text {
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.content--left__text h2 {
  font-size: 1.3rem;
  color: var(--color-text-green);
}

.content--left__text .text__grey {
  color: var(--color-text);
}

.content--left img {
  width: 220px;
  height: 110px;
  align-self: flex-end;
}

.content-right h2 {
  font-size: 1.3rem;
  color: var(--color-text-green);
}

.content-right {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.content--right__text {
  padding: 1rem 1rem;
}

.content-right .text__grey {
  color: var(--color-text);
}

.content-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.content-right .icon-container {
  width: 50px;
  height: 50px;
  color: var(--color-text-green);
  margin-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
  .content--left,
  .content-right {
    width: 754px;
    height: 350px;
    padding: 1rem 0 1rem 0;
  }
  .content--left img {
    width: 314px;
    height: 170px;
  }
  .content--left__text h1 {
    font-size: 4rem;
  }
  .content--right__text h1 {
    font-size: 3.5rem;
  }
  .content-right .icon-container {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
  .content--left,
  .content-right {
    width: 754px;
    height: 340px;
    padding: 1rem 0 1rem 0;
  }
  .content--left img {
    width: 330px;
    height: 190px;
  }
  .content--left__text h1 {
    font-size: 3.5rem;
  }
  .content--right__text h1 {
    font-size: 3rem;
  }
  .content-right .icon-container {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}

/* Expert */
.content-Expert {
  text-align: center;
  padding: 0 1rem;
}

.content-Expert h1 {
  margin-bottom: 1.5rem;
  animation: focus 2s ease-out 0s 1 normal none;
}

@keyframes focus {
  0% {
    letter-spacing: 0.01em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.content-Expert--img img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .content-Expert h1 {
    padding: 0 2rem;
    font-size: 5rem;
    margin-bottom: 2rem;
    animation: focus 2s ease-out 0s 1 normal none;
  }

  @keyframes focus {
    0% {
      letter-spacing: 0.5em;
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
  .Expert--img img {
    width: 100%;
    animation: none;
    transition: none;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .content-Expert h1 {
    padding: 0 2rem;
    font-size: 4rem;
    animation: focus 2s ease-out 0s 1 normal none;
  }

  @keyframes focus {
    0% {
      letter-spacing: 0.2em;
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
  .Expert--img img {
    width: 100%;
    animation: none;
    transition: none;
  }
}

/* Audeince */
.Audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 2rem 0 2rem 0;
}

.Audience p {
  text-align: center;
  color: var(--color-text-body);
  position: absolute;
  top: 28%;
}
.Audience .Audience--img img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .Audience {
    align-items: center;
    position: relative;
    text-align: center;
    margin: 8rem 0 8rem 0;
  }
  .Audience p {
    width: 1000px;
    top: 25%;
    right: 50%;
    transform: translateX(50%);
    font-size: 6rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .Audience {
    align-items: center;
    position: relative;
    text-align: center;
    margin: 6rem 0 6rem 0;
  }
  .Audience p {
    width: 700px;
    top: 22%;
    right: 50%;
    transform: translateX(50%);
    font-size: 4rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .Audience {
    align-items: center;
    position: relative;
    text-align: center;
    margin: 4rem 0 4rem 0;
  }
  .Audience p {
    width: 500px;
    top: 25%;
    right: 50%;
    transform: translateX(50%);
    font-size: 3rem;
    padding: 0 2rem;
  }
}

/* Get start */
.get-start {
  text-align: center;
  margin-bottom: 4rem;
}

.get-start__text {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .get-start {
    margin-bottom: 7rem;
  }
  .get-start img {
    width: 90px;
    height: 90px;
  }
  .get-start__text {
    margin-bottom: 2rem;
  }
  .get-start__text h1 {
    font-size: 5rem;
  }
  .get-start__text p {
    font-size: 2rem;
  }
  .get-start .select-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .get-start img {
    width: 60px;
    height: 60px;
  }
  .get-start__text {
    margin-bottom: 2rem;
  }
  .get-start__text h1 {
    font-size: 3.5rem;
  }
  .get-start__text p {
    font-size: 1.5rem;
  }
  .get-start .select-text {
    font-size: 1.5rem;
  }
}

/* footer */
.footer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-left {
  margin-bottom: 2rem;
}

.footer-left address > a {
  color: var(--color-text);
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.footer-left address > a:hover {
  color: var(--color-primary);
}

.footer-logo {
  display: flex;
  align-items: flex-start;
}

.footer-logo img {
  width: 28px;
  height: 28px;
}

.footer-logo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 2rem;
}

.footer__list {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 2rem;
  font-size: 1.8rem;
  list-style: none;
  margin-bottom: 2rem;
}

.footer__item a {
  color: var(--color-text);
  text-decoration: none;
}

.footer__item a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .footer-left {
    margin-bottom: 0;
  }
  .footer-logo h2 {
    margin-bottom: -0.5rem;
  }
  .footer__list {
    display: flex;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer {
    padding: 0 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .footer-left {
    margin-bottom: 0;
  }
  .footer-logo h2 {
    margin-bottom: -0.5rem;
  }
  .footer__list {
    display: flex;
    font-size: 1.5rem;
  }
}

/* ---------------------------ABOUT PAGE----------------------------------- */
/* ABOUT US */
.head {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.About-logo {
  display: flex;
  justify-content: center;
}

.About-logo img {
  width: 30px;
  height: 30px;
}

.About-logo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-left: 1rem;
}
.About-head {
  text-align: center;
  padding: 0 3.5rem;
  margin-bottom: 6rem;
}

.About-head h3 {
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.About-head h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.About-head p {
  margin-top: 1rem;
  text-align: justify;
  text-align-last: center;
  font-size: 1.4rem;
  color: var(--color-text-body);
}

.About-main {
  margin: 0 1rem;
  border-bottom: 1.5px solid rgb(132, 132, 132, 0.6);
  padding: 0 2rem;
  text-align: justify;
  text-align-last: left;
}

.About-p p {
  color: var(--color-text-body);
  margin-bottom: 2rem;
}

.About-p .p-7 {
  font-size: 1rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.About-team {
  text-align: center;
  margin-top: 6rem;
}

.About-team h3 {
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.About-team h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
}

.About-team__profile {
  margin-bottom: 6rem;
}

.About-profile {
  margin-bottom: 2rem;
}

.About-profile img {
  width: 90px;
  height: 90px;
}

.About-profile h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0rem;
}

.About-profile h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.About-profile a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-text-body);
}

.About-profile a:hover {
  color: var(--color-primary);
}

.About-profile img:last-child {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 1024px) {
  .About-logo {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .About-logo img {
    width: 75px;
    height: 72px;
  }
  .About-logo h2 {
    font-size: 6rem;
  }
  .About-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .About-head h3 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  .About-head h1 {
    font-size: 7rem;
    line-height: 9rem;
  }
  .About-head p {
    width: 860px;
    font-size: 2.5rem;
  }
  .About-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .About-p {
    width: 1010px;
  }
  .About-p p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .About-p .p-7 {
    font-size: 2rem;
  }
  .About-main {
    margin: 0 14rem;
    border-bottom: 1.5px solid rgb(132, 132, 132, 0.6);
  }
  .About-team h3 {
    font-size: 2rem;
  }
  .About-team h1 {
    font-size: 5rem;
  }
  .About-team__profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
  }
  .About-profile h2 {
    font-size: 2.5rem;
  }
  .About-profile h4 {
    font-size: 1.5rem;
  }
  .About-profile a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .About-logo {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .About-logo img {
    width: 55px;
    height: 52px;
  }
  .About-logo h2 {
    font-size: 4rem;
  }
  .About-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .About-head h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .About-head h1 {
    font-size: 5rem;
    line-height: 7rem;
  }
  .About-head p {
    width: 500px;
    font-size: 2rem;
  }
  .About-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .About-p {
    width: 700px;
  }
  .About-p p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .About-p .p-7 {
    font-size: 1.5rem;
  }
  .About-main {
    margin: 0 2rem;
    border-bottom: 1.5px solid rgb(132, 132, 132, 0.6);
  }
  .About-team h3 {
    font-size: 1.5rem;
  }
  .About-team h1 {
    font-size: 4rem;
  }
  .About-team__profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
  }
  .About-profile h2 {
    font-size: 2rem;
  }
  .About-profile h4 {
    font-size: 1rem;
  }
  .About-profile a {
    font-size: 1.5rem;
  }
}

/* ---------------------------BLOG PAGE----------------------------------- */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-text {
  text-align: center;
}

.blog-text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
  gap: 0 2rem;
  margin: 2rem 2rem;
}

.contents {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 5px;
  border: 1px solid #707070;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.spans {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.contents .icon-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.contents .icon-container .icon {
  width: 15px;
  height: 15px;
  fill: white;
}

.contents span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--color-text-body);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contents span:nth-child(2) {
  cursor: pointer;
}

.contents p {
  font-size: 0.8rem;
}

.contents .icon-container.twitter {
  background-color: #1da1f2;
}
.contents .icon-container.youtube {
  background-color: #ff0000;
}
.contents .icon-container.substack {
  background-color: #ff6719;
}
.contents .icon-container.medium {
  background-color: #000000;
}
.contents .icon-container.spotify {
  background-color: #1db954;
}
.contents .icon-container.anchor {
  background-color: #5000b9;
}
.contents .icon-container.instagram {
  background-color: #e4405f;
}
.contents .icon-container.linkedin {
  background-color: #0a66c2;
}
.contents .icon-container.wordpress {
  background-color: #21759b;
}
.contents .icon-container.rss {
  background-color: #ffa500;
}
.contents .icon-container.applepodcasts {
  background-color: #9933cc;
}
.contents .icon-container.facebook {
  background-color: #1877f2;
}

span.badge {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #102142;
  color: #4a7de3;
  font-size: 0.6rem;
}

@media screen and (min-width: 1024px) {
  .blog-content {
    grid-template-columns: repeat(3, 0fr);
  }
  .contents {
    width: 250px;
    height: 150px;
    padding: 0.5rem 1rem;
    justify-content: space-evenly;
  }
  .blog-text h1 {
    font-size: 7rem;
  }
  .blog-text h3 {
    font-size: 2rem;
  }
  .contents .icon-container {
    width: 40px;
    height: 40px;
  }
  .contents .icon-container .icon {
    width: 15px;
    height: 15px;
  }
  .contents span {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .contents p {
    font-size: 1.2rem;
  }
  span.badge {
    color: #4a7de3;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .blog-content {
    grid-template-columns: repeat(3, 0fr);
  }
  .contents {
    width: 210px;
    height: 150px;
    padding: 0.5rem 1rem;
    justify-content: space-evenly;
  }
  .blog-text h1 {
    font-size: 6rem;
  }
  .blog-text h3 {
    font-size: 1.4rem;
  }
  .contents .icon-container {
    width: 40px;
    height: 40px;
  }
  .contents .icon-container .icon {
    width: 15px;
    height: 15px;
  }
  .contents span {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .contents p {
    font-size: 1.2rem;
  }
  span.badge {
    color: #4a7de3;
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .blog-content {
    grid-template-columns: repeat(3, 0fr);
    gap: 0 1rem;
    margin: 2rem 2rem;
  }
  .contents {
    width: 180px;
    height: 150px;
    padding: 0.5rem 1rem;
    justify-content: space-evenly;
  }
  .blog-text h1 {
    font-size: 5rem;
  }
  .blog-text h3 {
    font-size: 1.4rem;
  }
  .contents .icon-container {
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
  }
  .contents .icon-container .icon {
    width: 15px;
    height: 15px;
  }
  .contents span {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .contents p {
    font-size: 1rem;
  }
  span.badge {
    color: #4a7de3;
    font-size: 0.8rem;
  }
  .spans {
    margin-top: 0rem;
  }
}

/* ---------------------------Pricing PAGE----------------------------------- */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-title {
  width: 200px;
  text-align: center;
}

.pricing-title h1 {
  font-size: 2rem;
}

.pricing-plan {
  margin: 2rem 2rem;
}

.plan {
  width: 220px;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: var(--color-plan-bg);
  border: 1px solid var(--color-plan-bg-stroke);
}

.plan:hover {
  background-color: var(--color-plan-highlight);
  border: 1px solid var(--color-plan-button-stroke);
  color: var(--color-text-body);
}

.plan h1:first-child {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.free {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.plan p {
  color: var(--color-text-body);
  font-size: 1.2rem;
}

.plan h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.plan h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.plan h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.plan ol {
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.plan li {
  padding: 0 0 0 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-text-body);
}

.plan li::marker {
  color: var(--color-text-body);
  content: "✔";
}

.plan button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.3rem 0.5rem;
}

.plan button:hover {
  background-color: #ffff;
  color: var(--color-plan-highlight);
}

.plan h1 > sub {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-plan-text);
  margin-left: 0.5rem;
}

.plan span {
  color: var(--color-plan-text);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .pricing {
    margin-bottom: 6rem;
  }
  .pricing-plan {
    display: flex;
    flex-direction: row;
  }
  .pricing-title {
    width: 800px;
    text-align: center;
  }
  .pricing-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
  }
  .plan {
    width: 280px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3rem;
  }
  .plan h1:first-child {
    font-size: 3rem;
  }
  .free {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .dollar {
    font-size: 4rem;
  }
  .plan p {
    color: var(--color-text-body);
    font-size: 1.3rem;
  }
  .plan h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .plan h4 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .plan h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .plan li {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .pricing {
    margin-bottom: 4rem;
  }
  .pricing-plan {
    display: flex;
    justify-content: space-between;
  }
  .pricing-title {
    width: 650px;
    text-align: center;
  }
  .pricing-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
  }
  .plan {
    width: 230px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0.8rem;
  }
  .plan h1:first-child {
    font-size: 3rem;
  }
  .free {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .dollar {
    font-size: 4rem;
  }
  .plan p {
    color: var(--color-text-body);
    font-size: 1.3rem;
  }
  .plan h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .plan h4 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .plan h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .plan li {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .pricing-title {
    width: 400px;
    text-align: center;
  }
  .pricing-title h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
  }
  .plan h1:first-child {
    font-size: 3rem;
  }
  .free {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .dollar {
    font-size: 4rem;
  }
  .plan p {
    color: var(--color-text-body);
    font-size: 1.3rem;
  }
  .plan h3 {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .plan h4 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .plan h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .plan li {
    font-size: 1.2rem;
  }
}

/* ---------------------------SignUp and Login PAGE----------------------------------- */
.sign-title {
  text-align: center;
  margin-bottom: 2rem;
}

.sign-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.sign-title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 0 0;
}

.fields input {
  border: none;
  background: none;
  font-size: 18px;
  padding: 20px 10px 20px 20px;
}

.fields ::placeholder {
  color: var(--color-text-body);
  opacity: 0.8;
}

.fields input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-primary);
}

.username,
.password,
.Email {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: -0.5px -0.5px 0.5px #cbced1 inset;
}

.svg-icon {
  height: 22px;
  margin: 0 20px -3px 20px;
  fill: white;
}

.Sign__cta .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-size: 1.4rem;
}

.Sign__cta .btn {
  padding: 15px 50px 15px 50px;
}

.Sign__cta a {
  text-decoration: none;
  color: var(--color-text-body);
}

.sign-another {
  text-align: center;
}

.sign-another h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
}

.sign-another h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.sing-with {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
}

.sing-with a {
  text-decoration: none;
}

.sing-with .icons .icon-container {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--color-plan-bg);
}

.sing-with a > span {
  display: none;
}

i.fa-google {
  color: #4285f4;
  font-size: 2.5rem;
}

i.fa-facebook {
  color: #1877f2;
  font-size: 2.5rem;
}

i.fa-apple {
  color: #fff;
  font-size: 2.5rem;
}

.login {
  margin: 2rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.login a {
  text-decoration: none;
  color: var(--color-text-body);
}

.login a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .signUp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sign-title {
    text-align: center;
    margin-bottom: 6rem;
  }
  .sign-title h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  .sign-title h3 {
    font-size: 2rem;
  }
  .fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
  }
  .fields input {
    padding: 20px 30px 20px 30px;
  }
  .svg-icon {
    height: 24px;
  }
  .Sign__cta .btn--primary {
    font-size: 1.7rem;
  }
  .Sign__cta .btn {
    padding: 15px 120px 15px 120px;
  }
  .sign-another {
    margin: 2rem 0 2rem 0;
  }
  .sign-another h1 {
    font-size: 4rem;
    margin-top: 0rem;
  }
  .sign-another h3 {
    font-size: 2rem;
  }
  .links {
    display: flex;
    align-items: center;
  }
  .sing-with .icons .icon-container {
    width: 65px;
    height: 65px;
  }
  .sing-with a > span {
    display: block;
    color: var(--color-text-body);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 2rem;
  }
  .sing-with a > span:hover {
    color: var(--color-primary);
  }
  i.fa-google,
  i.fa-facebook,
  i.fa-apple {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .signUp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .sign-title {
    text-align: center;
    margin-bottom: 6rem;
  }
  .sign-title h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  .sign-title h3 {
    font-size: 2rem;
  }
  .fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
  }
  .fields input {
    padding: 20px 30px 20px 30px;
  }
  .svg-icon {
    height: 24px;
  }
  .Sign__cta .btn--primary {
    font-size: 1.7rem;
  }
  .Sign__cta .btn {
    padding: 15px 120px 15px 120px;
  }
  .sign-another {
    margin: 2rem 0 0 0;
  }
  .sign-another h1 {
    font-size: 4rem;
    margin-top: 0rem;
  }
  .sign-another h3 {
    font-size: 2rem;
  }
  .links {
    display: flex;
    align-items: center;
  }
  .sing-with .icons .icon-container {
    width: 70px;
    height: 70px;
  }
  .sing-with a > span {
    display: block;
    color: var(--color-text-body);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 2rem;
  }
  .sing-with a > span:hover {
    color: var(--color-primary);
  }
  i.fa-google,
  i.fa-facebook,
  i.fa-apple {
    font-size: 3.5rem;
  }
  .login {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .sign-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .sign-title h1 {
    font-size: 4rem;
  }
  .fields {
    margin: 1rem 0;
  }
  .sign-another {
    margin: 1rem 0 1rem 0;
  }
  .sign-another h3 {
    font-size: 2rem;
  }
  .sing-with {
    margin-bottom: 2rem;
  }
  .sing-with .icons .icon-container {
    width: 50px;
    height: 50px;
  }
  i.fa-google,
  i.fa-facebook,
  i.fa-apple {
    font-size: 3rem;
  }
  .login {
    margin: 1rem 0;
  }
}

/* ---------------------------navbar PAGE----------------------------------- */
.main-header {
  margin-top: 2rem;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav-logo {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.nav-logo img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.nav-logo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--color-text-body);
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
  color: var(--color-text-body);
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 1rem;
}

.nav__item > a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-text);
  display: block;
  padding: 0.5rem 0;
  text-align: center;
}

.nav__item.cta {
  border: 0;
  text-align: center;
  border-bottom: 0;
}

.nav__item .btn {
  padding: 1rem 4rem;
}

.nav__item .btn--primary {
  color: var(--color-text-body);
  background-color: var(--color-primary);
}

.hidden-button {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem 0 2rem;
  }
  .nav img {
    width: 40px;
    height: 40px;
  }
  .nav-logo h2 {
    font-size: 3rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
    margin-right: -4rem;
  }
  .nav__item {
    border-bottom: none;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.7rem;
  }
  .nav__item a.activate {
    color: var(--color-primary);
  }
  .nav__item a:hover {
    color: var(--color-primary);
  }
  .cta {
    display: none;
  }
  .hidden-button {
    display: flex;
    align-items: center;
  }
  .hidden-button a {
    text-decoration: none;
  }
  .hidden-button .btn--primary {
    color: var(--color-text-body);
    background-color: var(--color-primary);
  }
  .hidden-button .btn--secondary {
    border: none;
    color: var(--color-text);
  }
}

/* toggler */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: var(--color-primary);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-10px, 7px);
  margin: 8px 0;
}

.nav.nav__expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-9px, -7px);
  margin: 8px 0;
}
