/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* background: linear-gradient(97.01deg, #53B9D9 -6.41%, rgba(20, 77, 101, 0) 110.43%); */

/* root variables */
:root {
  /* Homepage */
  --color-background: #000;
  --color-primary: #306ef7;
  --color-secondary-light: #707070;
  --color-secondary-dark: #0e5d80;
  --color-text-steps: #3d82f2;
  --color-text-main: #326cf9;
  --color-text-green: #0fc65c;
  --color-text: #919191;
  --color-text-body: #ffffff;
  /* Pricing */
  --color-plan-bg: #131313;
  --color-plan-bg-stroke: #707070;
  --color-plan-button-stroke: #4681e7;
  --color-plan-highlight: #3c82f4;
  --color-plan-highlight-button: #ffff;
  --color-plan-text: #b4b1b1;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  font-size: 1.6rem;
  line-height: 1.7;
}

/* R 400,semi 600,B 700,Ex 800 */

h1,
h2,
h3 {
  color: var(--color-text-body);
  font-size: 700;
}

h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Button */
.btn {
  outline: 0;
  border: 0;
  padding: 1.3rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--color-text-body);
  color: var(--color-primary);
}

.btn--secondary {
  background-color: transparent;
  border: 1.5px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

.btn--plan-primary {
  background-color: transparent;
  border: 3px solid var(--color-plan-button-stroke);
  color: var(--color-text-body);
}

.btn--plan-highlight {
  background-color: #ffff;
  color: var(--color-plan-highlight);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

/* icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f6f6f6; */
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 2px 5px 10px -4px rgb(132, 132, 132, 0.6);
}

/* hero section */
.hero {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

.hero .text {
  margin-bottom: 2rem;
}

.hero .hero__text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 2.5rem 0 0 0;
}

.hero .hero__text--gradient {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  animation: flow 4s ease-in-out infinite;
  background: linear-gradient(-50deg, #904e95, #b05fb6, #e73c7e, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hero__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero__middle h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: justify;
  text-align-last: center;
}

.hero__cta {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__cta .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.hero__cta .btn--secondary {
  padding: 1.1rem 3.5rem;
  border: 1.5px solid var(--color-secondary-light);
  font-size: 1.4rem;
}

.hero__cta .btn--secondary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-text-body);
}

/* check button */
.select-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-control .c1 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(15, 198, 92, 0.24);
}

.select-control .c2 {
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: rgba(15, 198, 92, 1);
}

.select-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.select-text span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0.5rem 0 1rem;
  color: var(--color-text-body);
}

.select-text p {
  color: var(--color-text);
}

@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .hero .text {
    margin-bottom: 3rem;
  }
  .hero .hero__text {
    font-size: 7rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 7rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.8rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .text {
    margin-bottom: 2rem;
  }
  .hero .hero__text {
    font-size: 6rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 6rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.8rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 450px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .text {
    margin-bottom: 1rem;
  }
  .hero .hero__text {
    font-size: 4rem;
    padding: 3rem 0 0 0;
  }
  .hero .hero__text--gradient {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  .hero__middle {
    width: 500px;
  }
  .hero__middle h2 {
    font-size: 2.2rem;
  }
  .hero__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .hero__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .hero__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .select-control .c1 {
    width: 25px;
    height: 25px;
  }
  .select-control .c2 {
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    width: 15px;
    height: 15px;
  }
  .select-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

/* feature */
.feature {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.feature h1 {
  font-size: 2rem;
  margin: 3rem 0 2.5rem 0;
  animation: focus-in 2s ease-out 0s 1 normal none;
}

@keyframes focus-in {
  0% {
    letter-spacing: 0.01em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.feature--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.feature--items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.feature__text {
  display: flex;
  align-items: center;
}

.feature__text h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .feature {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 6rem;
  }
  .feature h1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
  }
  .feature--item {
    margin-bottom: 0;
  }
  .feature--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 2rem;
  }
  .feature__text p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .feature {
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }
  .feature h1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
  }
  .feature--item {
    margin-bottom: 0;
  }
  .feature--item p {
    word-wrap: break-word;
    width: 180px;
  }
  .feature--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
  .feature h1 {
    font-size: 2.5rem;
    margin: 3rem 0 1.5rem 0;
  }
  .feature--item {
    margin-bottom: 2rem;
  }
  .feature--items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature__text h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
}

/* steps */
.steps {
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.step h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  animation: focus-in-contract 3.5s ease-out 0s 1 normal none;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 0.01em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.step p {
  width: 250px;
  text-align: justify;
  text-align-last: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.step .btn--secondary {
  padding: 1.1rem 2.5rem;
  font-size: 1.2rem;
}

.step .btn--secondary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-text-body);
}

@media screen and (min-width: 1024px) {
  .steps {
    text-align: center;
    padding: 0 2rem;
  }
  .step h3 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .step h1 {
    font-stretch: expanded;
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .step p {
    width: 650px;
    text-align: justify;
    text-align-last: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .step .btn--secondary {
    padding: 1.1rem 3.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .step p {
    width: 600px;
    text-align: justify;
    text-align-last: center;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .step p {
    width: 450px;
    text-align: justify;
    text-align-last: center;
    font-size: 1.5rem;
  }
  step h1 {
    letter-spacing: 0.5rem;
  }
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.content--wraper {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content__image {
  margin-bottom: 2rem;
}

.content__image img {
  width: 200px;
  height: 200px;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
  -moz-box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
  box-shadow: 0px -1px 39px 3px rgba(107, 103, 107, 0.35);
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.content__detail h2 {
  font-size: 1.3rem;
}

.content__detail span {
  color: var(--color-primary);
}

.content__detail--order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  color: var(--color-text);
  margin: 1rem 0 1rem 0;
}

.content__detail--order p {
  font-size: 0.8rem;
}

.content__detail--order span {
  color: #000;
}

.content__detail--order .c1 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(45, 45, 45, 1);
}

.content__detail--order .c2::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  content: "1";
  color: white;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.content__detail--order .c3::after {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  content: "2";
  color: white;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.content__cta {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.content__cta .btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-body);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.content__cta .btn--secondary {
  padding: 1.1rem 3.5rem;
  border: 1.5px solid var(--color-secondary-light);
  font-size: 1.4rem;
}

.content__cta .btn--secondary:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-text-body);
}

@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 6rem 0 6rem 0;
    align-items: flex-start;
    text-align: left;
  }
  .content__image img {
    width: 520px;
    height: 491px;
  }
  .content__detail {
    margin-bottom: 2rem;
  }
  .content__detail h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .content__detail h1 {
    font-size: 6rem;
  }
  .content__detail--order {
    margin-left: 0.1rem;
  }
  .content__detail--order p {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .content__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .content__cta .btn--primary {
    font-size: 1.8rem;
    margin: 0 1rem 1rem 0;
    padding: 1.2rem 4rem;
  }
  .content__cta .btn--secondary {
    padding: 1.4rem 6rem;
    font-size: 1.4rem;
  }
  .content__detail--order .c1 {
    width: 30px;
    height: 30px;
  }
  .content__detail--order .c2::after {
    font-size: 1.5rem;
    top: 15%;
  }
  .content__detail--order .c3::after {
    font-size: 1.5rem;
    top: 15%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .content {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 8rem 0 8rem 0;
    align-items: flex-start;
    text-align: left;
  }
  .content__image img {
    width: 320px;
    height: 291px;
  }
  .content__detail {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .content__detail h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
  .content__detail h1 {
    font-size: 3.5rem;
  }
  .content__detail--order {
    padding: 0 0.5rem;
    margin-left: 0.1rem;
  }
  .content__detail--order p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .content__cta {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .content__cta .btn--primary {
    font-size: 1.3rem;
    padding: 1rem 4rem;
  }
  .content__cta .btn--secondary {
    padding: 1.4rem 6rem;
    margin-left: 1rem;
    font-size: 1rem;
  }
  .content__detail--order .c1 {
    width: 25px;
    height: 25px;
  }
  .content__detail--order .c2::after {
    font-size: 1.5rem;
    top: 5%;
  }
  .content__detail--order .c3::after {
    font-size: 1.5rem;
    top: 5%;
  }
}

/* middle content */
.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.content--left {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
}

.content--left__text {
  text-align: left;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.content--left__text h2 {
  font-size: 1.3rem;
  color: var(--color-text-green);
}

.content--left__text .text__grey {
  color: var(--color-text);
}

.content--left img {
  width: 220px;
  height: 110px;
  align-self: flex-end;
}

.content-right h2 {
  font-size: 1.3rem;
  color: var(--color-text-green);
}

.content-right {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.content--right__text {
  padding: 1rem 1rem;
}

.content-right .text__grey {
  color: var(--color-text);
}

.content-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.content-right .icon-container {
  width: 50px;
  height: 50px;
  color: var(--color-text-green);
  margin-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
  .content--left,
  .content-right {
    width: 754px;
    height: 350px;
    padding: 1rem 0 1rem 0;
  }
  .content--left img {
    width: 314px;
    height: 170px;
  }
  .content--left__text h1 {
    font-size: 4rem;
  }
  .content--right__text h1 {
    font-size: 3.5rem;
  }
  .content-right .icon-container {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width:1023px)  and (min-width:768px){
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
  .content--left,
  .content-right {
    width: 754px;
    height: 340px;
    padding: 1rem 0 1rem 0;
  }
  .content--left img {
    width: 330px;
    height: 190px;
  }
  .content--left__text h1 {
    font-size: 3.5rem;
  }
  .content--right__text h1 {
    font-size: 3rem;
  }
  .content-right .icon-container {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px)  {
  .middle-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}