<section class="content">
  <div class="content__image">
    <img src="./assets/images/spotify.png" alt="" />
  </div>
  <div class="content--wraper container">
    <div class="content__detail">
      <h2>Your Homepage</h2>
      <h1>Your Content.</h1>
      <h1>All in <span>One Spot</span></h1>
    </div>
    <div class="content__detail--order">
      <div class="c1">
        <div class="c2"></div>
      </div>
      <p>
        Bring all of your content together into one homepage.
        <span>....</span>
      </p>
    </div>
    <div class="content__detail--order">
      <div class="c1">
        <div class="c3"></div>
      </div>
      <p>Your page automatically updates whenever you create.</p>
    </div>
    <div class="content__cta">
      <button class="btn btn--primary">Get Started Now</button>
      <button class="btn btn--secondary">View A Demo</button>
    </div>
  </div>
</section>
<section class="content">
  <div class="content__image">
    <img src="./assets/images/spotify-2.png" alt="" />
  </div>
  <div class="content--wraper container">
    <div class="content__detail">
      <h2>Create & Share</h2>
      <h1>Reach Your</h1>
      <h1>Audience <span>Directly.</span></h1>
    </div>
    <div class="content__detail--order">
      <div class="c1">
        <div class="c2"></div>
      </div>
      <p>
        Embed content or create something new to share.
        <span>.....................</span>
      </p>
    </div>
    <div class="content__detail--order">
      <div class="c1">
        <div class="c3"></div>
      </div>
      <p>Share content over email, text message or your homepage.</p>
    </div>
    <div class="content__cta">
      <button class="btn btn--primary">Get Started Now</button>
      <button class="btn btn--secondary">View A Demo</button>
    </div>
  </div>
</section>
