<section class="feature container">
    <h1>Why Creators Love Marico</h1>
    <div class="feature--items">
      <div class="feature--item">
        <div class="feature__text">
          <svg class="icon">
            <use
              xlink:href="./assets/images/svg-sprite.svg#Smile_emoji"
            ></use>
          </svg>
          <h3>Reduced Anxiety</h3>
        </div>
        <p>Never worry about losing your audience.</p>
      </div>
      <div class="feature--item">
        <div class="feature__text">
          <svg class="icon">
            <use
              xlink:href="./assets/images/svg-sprite.svg#Party_emoji"
            ></use>
          </svg>
          <h3>Lower Workload</h3>
        </div>
        <p>Just share one link. We'll handle the rest.</p>
      </div>
      <div class="feature--item">
        <div class="feature__text">
          <svg class="icon">
            <use
              xlink:href="./assets/images/svg-sprite.svg#Happy_emoji"
            ></use>
          </svg>
          <h3>More time</h3>
        </div>
        <p>Spend less time on marketing tools.</p>
      </div>
    </div>
  </section>