<section class="get-start">
  <img src="./assets//images/logo.png" alt="" />
  <div class="get-start__text">
    <h1>Get Started Now</h1>
    <p>Setup is easy and takes under 5 minutes.</p>
  </div>
  <div class="hero__cta">
    <button class="btn btn--primary">Get Started Now</button>
  </div>
  <div class="select-type">
    <div class="select-control">
      <div class="c1">
        <div class="c2"></div>
      </div>
    </div>
    <div class="select-text">
      <p><span>1000+</span> creators have already started</p>
    </div>
  </div>
</section>
