<section class="hero">
  <div class="text">
    <h1 class="hero__text">Own your audience.</h1>
    <h1 class="hero__text--gradient">So you don't lose them.</h1>
  </div>
  <div class="hero__middle">
    <h2>Turn your audience into email and text message subscribers.</h2>
    <div class="hero__cta">
      <button class="btn btn--primary">Get Started Now</button>
      <button class="btn btn--secondary">View A Demo</button>
    </div>
    <div class="select-type">
      <div class="select-control">
        <div class="c1">
          <div class="c2"></div>
        </div>
      </div>
      <div class="select-text">
        <p><span>1000+</span> creators have already started</p>
      </div>
    </div>
  </div>
</section>
