<section class="middle-content container">
  <div class="content--left">
    <div class="content--left__text">
      <h2>One Link</h2>
      <h1 class="text__grey">ALL You Create.</h1>
      <h1>One Link</h1>
    </div>
    <img src="./assets/images/mobile2.png" alt="" />
  </div>
  <div class="content-right">
    <h2>Collect Subscribers</h2>
    <h1 class="text__grey">Emails.</h1>
    <h1 class="text__grey">Phone #S.</h1>
    <h1>All Yours.</h1>
    <div class="-content-icon">
      <div class="icon-container">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div class="icon-container">
        <i class="fa-solid fa-phone"></i>
      </div>
    </div>
  </div>
</section>
