<header class="main-header">
  <nav class="nav container">
    <a href="./index.html" class="nav-logo">
      <img src="./assets/images/logo.png" alt="" />
      <h2>Marico</h2>
    </a>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <ul class="list nav__list">
      <li class="nav__item">
        <a href="./index.html" class="activate">Home</a>
      </li>
      <li class="nav__item"><a href="./About-us.html">About</a></li>
      <li class="nav__item"><a href="./Pricing.html">Pricing</a></li>
      <li class="nav__item"><a href="./Blog.html">Blog </a></li>
      <li class="nav__item cta">
        <a href="./login.html" class="btn btn--block btn--secondary">Login</a>
      </li>
      <li class="nav__item cta">
        <a href="./signUp.html" class="btn btn--block btn--primary"> Sing Up</a>
      </li>
    </ul>
    <ul class="hidden-button">
      <li class="header-button">
        <a href="./login.html" class="btn btn--block btn--secondary">Login</a>
      </li>
      <li class="header-button">
        <a href="./signUp.html" class="btn btn--block btn--primary"> Sing Up</a>
      </li>
    </ul>
  </nav>
</header>
